<a href="https://colab.research.google.com/github/hawwyo/hr-analytics/blob/main/analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
import math

In [64]:
url = 'https://raw.githubusercontent.com/hawwyo/hr-analytics/main/muratov-tobola-dataset.csv'
data = pd.read_csv(url).iloc[:, 1:]
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,...,NumCompaniesWorked,OverTime,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,Female,3,...,8,Yes,3,1,8,0,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,Male,2,...,1,No,4,4,10,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,Male,2,...,6,Yes,3,2,7,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,Female,3,...,1,Yes,3,3,8,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,Male,3,...,9,No,3,4,6,3,2,2,2,2

In [65]:
index = [
    'Среднее',
    'Стандартная ошибка',
    'Медиана',
    'Мода',
    'Стандартное отклонение',
    'Дисперсия',
    'Эксцесс',
    'Асимметричность',
    'Интервал',
    'Минимум',
    'Максимум',
    'Сумма',
    'Счет',
    # 'Наибольший',
    # 'Наименьший',
    # 'Уровень надежности'
]

numerical_columns = [
    'Age',
    'DistanceFromHome',
    'MonthlyIncome',
    'NumCompaniesWorked',
    'TotalWorkingYears',
    'TrainingTimesLastYear',
    'YearsAtCompany',
    'YearsInCurrentRole',
    'YearsSinceLastPromotion',
    'YearsWithCurrManager'
]

In [66]:
def get_descriptive_statistics(column_name):
    column = data[column_name]
    
    values = [ 
        column.mean(), 
        column.sem(), 
        column.median(), 
        column.mode()[0], 
        column.std(), 
        column.var(), 
        column.kurtosis(), 
        column.skew(), 
        column.max() - column.min(), 
        column.min(), 
        column.max(),
        column.sum(),
        column.shape[0]
    ]
    # print(values)
    # print( column.describe() )
    return pd.Series(values, index)
    

descriptive_statistics_result = pd.DataFrame()

for column_name in numerical_columns:
    descriptive_statistics_result[ column_name ] = get_descriptive_statistics(column_name)

descriptive_statistics_result

,Age,DistanceFromHome,MonthlyIncome,NumCompaniesWorked,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
Среднее,36.923810,9.192517,6.502931e+03,2.693197,11.279592,2.799320,7.008163,4.229252,2.187755,4.123129
Стандартная ошибка,0.238269,0.211443,1.227931e+02,0.065153,0.202939,0.033627,0.159792,0.094499,0.084048,0.093064
Медиана,36.000000,7.000000,4.919000e+03,2.000000,10.000000,3.000000,5.000000,3.000000,1.000000,3.000000
Мода,35.000000,2.000000,2.342000e+03,1.000000,10.000000,2.000000,5.000000,2.000000,0.000000,2.000000
Стандартное отклонение,9.135373,8.106864,4.707957e+03,2.498009,7.780782,1.289271,6.126525,3.623137,3.222430,3.568136
Дисперсия,83.455049,65.721251,2.216486e+07,6.240049,60.540563,1.662219,37.534310,13.127122,10.384057,12.731595
Эксцесс,-0.404145,-0.224833,1.005233e+00,0.010214,0.918270,0.494993,3.935509,0.477421,3.612673,0.171058
Асимметричность,0.413286,0.958118,1.369817e+00,1.026471,1.117172,0.553124,1.764529,0.917363,1.984290,0.833451
Интервал,42.000000,28.000000,1.899000e+04,9.000000,40.000000,6.000000,40.000000,18.000000,15.000000,17.000000
Минимум,18.000000,1.000000,1.009000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Максимум,60.000000,29.000000,1.999900e+04,9.000000,40.000000,6.000000,40.000000,18.000000,15.000000,17.000000
Сумма,54278.000000,13513.000000,9.559309e+06,3959.000000,16581.000000,4115.000000,10302.000000,6217.000000,3216.000000,6061.000000
Счет,1470.000000,1470.000000,1.470000e+03,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000

In [83]:
data[numerical_columns].corr()

,Age,DistanceFromHome,MonthlyIncome,NumCompaniesWorked,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.001686,0.497855,0.299635,0.680381,-0.019621,0.311309,0.212901,0.216513,0.202089
DistanceFromHome,-0.001686,1.000000,-0.017014,-0.029251,0.004628,-0.036942,0.009508,0.018845,0.010029,0.014406
MonthlyIncome,0.497855,-0.017014,1.000000,0.149515,0.772893,-0.021736,0.514285,0.363818,0.344978,0.344079
NumCompaniesWorked,0.299635,-0.029251,0.149515,1.000000,0.237639,-0.066054,-0.118421,-0.090754,-0.036814,-0.110319
TotalWorkingYears,0.680381,0.004628,0.772893,0.237639,1.000000,-0.035662,0.628133,0.460365,0.404858,0.459188
TrainingTimesLastYear,-0.019621,-0.036942,-0.021736,-0.066054,-0.035662,1.000000,0.003569,-0.005738,-0.002067,-0.004096
YearsAtCompany,0.311309,0.009508,0.514285,-0.118421,0.628133,0.003569,1.000000,0.758754,0.618409,0.769212
YearsInCurrentRole,0.212901,0.018845,0.363818,-0.090754,0.460365,-0.005738,0.758754,1.000000,0.548056,0.714365
YearsSinceLastPromotion,0.216513,0.010029,0.344978,-0.036814,0.404858,-0.002067,0.618409,0.548056,1.000000,0.510224
YearsWithCurrManager,0.202089,0.014406,0.344079,-0.110319,0.459188,-0.004096,0.769212,0.714365,0.510224,1.000000